@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url(components/Alert/alert.css);
@import url(components/Button/button.css);


:root {
  --header-bg-color: rgb(203 213 225/.1);
  --brand-color: #38bdf8;
  --documentation-link-color: #facc15;
  --border-color: gray;
}


body {
  font-family: 'Inter', sans-serif;
}


.Header {
  display: flex;
  padding-left: 5rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: var(--header-bg-color);
  border-bottom: 1px solid black;
}


.brand-name a {
  font-size: 1.3em;
  color: var(--brand-color);
  font-weight: bold;
  text-decoration: none;
}

.documentation-link {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.documentation-link a {
  text-decoration: none;
  color: var(--documentation-link-color);
  padding: 0.5rem;
}



/* aside and page content */

* {
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
}

.sidebar-nav {
  min-width: 20vw;
  top: 1em;
  margin: 0px;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0.2rem 0.2rem;
  margin-left: 0.2rem;
}

.sidebar-nav ul li {
  padding: 0.7rem 1rem;
}




/* page content */

.page-content {
  min-width: 600vw;
  flex: 1 1 auto;
  min-width: 0px;
  padding: 0.5rem 0.5rem;
  border-left: 1px solid var(--border-color);
}

.page-content section {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--border-color);
}


