:root {

    --info-color: blue;
    --info-bg-color: #bfdbfe;

    --warning-color: #854d0e;
    --warning-bg-color: #fde68a;
    ;

    --success-color: green;
    --success-bg-color: #bbf7d0;

    --error-color: red;
    --error-bg-color: #fecaca;

    --btn-hover-color: #a8a29e;
}




.alert-basic {
    border-radius: 0.2rem;
    font-size: 0.8em;
    margin: 0.2rem 0.2rem;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 0.5rem;
}

.alert-basic i {
    font-size: 1rem;
}


.alert-success {
    background-color: var(--success-bg-color);
    color: var(--success-color)
}

.alert-info {
    background-color: var(--info-bg-color);
    color: var(--info-color)
}

.alert-warning {
    background-color: var(--warning-bg-color);
    color: var(--warning-color);
}

.alert-error {
    background-color: var(--error-bg-color);
    color: var(--error-color);
}

.alert-container.basic {
    display: grid;

    grid-gap: 1rem;
    padding: 1.5rem 1.5rem;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.1);
    grid-template-columns: repeat(3, minmax(5rem, 1fr));
}

.p-md {
    font-size: 0.8rem;
    margin: 0rem 0.4rem;
    padding: 0.1rem 0.1rem;
}



.alert-container.basic.button {
    grid-template-columns: repeat(2, minmax(5rem, 1fr));
}


/* Descriptive Alerts */

.alert-desc {
    border-radius: 0.2rem;
    font-size: 0.8em;
    margin: 0.2rem 0.2rem;
    padding: 0.5rem;
    justify-content: left;
    align-items: center;
    min-height: 0.5rem;
}




.alert-container.descriptive {
    display: grid;
    grid-gap: 1rem;
    padding: 1.5rem 1.5rem;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.1);
    grid-template-columns: repeat(2, minmax(5rem, 1fr));
}


.alert-success-des {
    background-color: var(--success-bg-color);
    color: var(--success-color);
}

.alert-info-des {
    background-color: var(--info-bg-color);
    color: var(--info-color)
}

.alert-warning-des {
    background-color: var(--warning-bg-color);
    color: var(--warning-color);
}

.alert-error-des {
    background-color: var(--error-bg-color);
    color: var(--error-color);
}


.p-sm {
    margin: 0.5rem 0.5rem;
    padding: 0.2rem 0.2rem;
}


.btn i:hover {
    color: var(--btn-hover-color)
}

.btn:nth-child(2) {
    flex-grow: 1;
}



/* Alert code snippets */
.alert-code-container {
    padding: 1rem 1rem;
    width: 100%;
}